// drawer-nav
.q-drawer {
  .q-item {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    &.q-router-link--exact-active {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  .q-item:hover {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

// number input
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin-left: 10px;
}

//auth page
.auth {
  min-width: 320px;
}
